
.registration {
  & > div > div > form {
    & > .headerRegAuth {
      position: relative;
      background-color: black;
      width: 100%;
      height: 110px;
      border-bottom: 3px solid #00B3FF;
      & > .closeWindow {
        position: absolute;
        right: 30px;
        top: 30px;
        color: #FFF;
        text-align: center;
        font-family: aakar;
        font-size: 38px;
        font-weight: 500;
      }
    }
    & > .listInputs {
      margin: 10px 0 20px 0;
      left: 50px;
      & > .error {
        margin-bottom: 16px;
        color: red;
      }
    }
  }
}