.container {
  position: relative;
  & > .nameInput {
    color: #000;
    font-family: Jacques Francois;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
  }
  & > .inputText {
    border-radius: 10px;
    background: #FFF;

    box-sizing: border-box;
    font-size: 22px;
    width: 449px;
    height: 44px;
    left: 542px;
    top: 364px;
    border: 1px solid rgba(42, 47, 55, 0.08);
    padding: 10px 50px 10px 20px;
    margin-bottom: 10px;
  }
  & > .inputText:focus {
    border: 2px solid #000;
  }

  & > .showPassword {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus:active {
      border: none;
    }
  }
}