<!DOCTYPE HTML>
<html>
<body>
    <div>
        <form method="post">
            <input type="email" name="email" placeholder="input email"/> <br>
            <input type="password" name="password" placeholder="input password"/> <br>
            <button type="submit">send</button>
        </form>
    </div>
    <div>list of message:</div>
    {{#info}}
    <div>
        <span>{{email}}</span>
        <i>{{password}}</i>
    </div>
    {{/info}}
</body>
</html>