<!DOCTYPE HTML>
<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Введите сообщение"/>
            <input type="tag" name="tag" placeholder="Tag"/>
            <button type="submit">отправить</button>
        </form>
    </div>
    <div>Список сообщений</div>
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
</body>
</html>