@import '../../../assets/styles/main';

.page_wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  background-color: #E9E9E9;
  grid-template-rows: 70px auto 70px;
  width: 100vw;
  height: 100vh;

  @media(max-width:768px) {
    grid-template-rows: 56px auto 108px;
  }
}

.content {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}