@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Public+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

//colors
$main-color: #909f0a;
$active-link-color: #D1E231;
$title-color: #1D1D1D;

$background-color: #E9E9E9;
$text-color: #FFF;
$black: #000000;


//fonts
$title: 'Itim', sans-serif;
$text: 'Itim', sans-serif;

//vars
$title-size: calc(18px + (60 - 18) * ((100vw - 320px) / (1920 - 320)));
$text-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
